{{ define "header" }}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
  <header>
    <div class="bg-black small-header">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv6 ph3 ph4-ns">
        {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Projecten</h1>
          {{ with .Params.description  }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-45  mb4 bg-white" style="padding: 10px">
          {{ .Render "summary-with-image" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
