body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.small-header {
  height: 180px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/pcb.jpg');
}

.small-header .pv6 {
  padding-top: 0;
  padding-bottom: 0;
}

.pb7 {
  flex: 1;
}

.measure-wide, .mw8 {
  max-width: 60vw !important;
}

.mw7 {
  max-width: 50vw !important;
}

.w-45 {
  width: 45%;
}

.post-desc {
  font-weight: 800;
  opacity: 0.8;
  font-style: italic;
}

.post-title {
  font-weight: 200;
  opacity: 0.6;
}

hr {
  margin-top: 4em;
  max-width: 80%;
  color: lightgrey;
  opacity: 0.2;
}
