{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        <div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3-ns" "pr3-ns" }} mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.RelPermalink}}" class="db grow">
            <div style="height: 20vh; width: 100%; background-image: url({{ $featured_image }}); background-position: center; background-size: cover">&nbsp;</div>
          </a>
        </div>
      {{ end }}
      <div class="blah w-100{{ if $featured_image }} w-60-ns {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr3-ns" "pl3-ns" }}{{ end }}">
        <h1 class="f3 post-title athelas mt0 lh-title">
          <a href="{{.RelPermalink}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          <span class="post-desc">{{ .Description }}</span>
          <p style="margin-top: 4px"> <em>{{ with .Params.author | default .Site.Params.author }}
        door&nbsp;
        {{- if reflect.IsSlice . -}}
            {{ delimit . ", " | markdownify }}
        {{- else -}}
            {{ . | markdownify }}
        {{- end -}}
        {{ end }}
      {{ if not .Date.IsZero }}
      op <time {{ printf `datetime="%s"` (.Date.Format "2 January 2006") | safeHTMLAttr }}>
        {{- .Date | time.Format "2 January 2006" -}}
      </time>
      {{end}}
          </em></p>
        </div>
      </div>
    </div>
  </div>
</article>
