{{ define "header" }}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

  <header>
    <div class="bg-black small-header">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv6 ph3 ph4-ns">
        {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Tags</h1>
          {{ with .Params.description  }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <div class="mw8 center nested-links">
    <section class="flex-ns flex-wrap justify-around mt5">
      <ul id="theme-tagcloud" class="col-sm-12 pa0" style="margin-bottom: 15px;">
        {{ $tags := $.Site.Taxonomies.tags.ByCount }}
        {{ $tags := where $tags "Term" "not in" (slice "hugo" "tags" "rss") }}
        {{ range $tags }}
          {{ if .Term }}
            {{ $tagURL := printf "tags/%s" .Term | relURL }}
            {{ $weight :=  math.Round (math.Log .Count) }}
            <li class="list di"><a href="{{ $tagURL }}" class="fugly-hacks btn btn-default link f5 grow no-underline ph3 pv2 mb2 dib sans-serif" role="button" style="text-transform: uppercase; font-size: calc( 12px + 3*{{ $weight }}px ); padding-right: 10px; padding-left: 10px; opacity: calc((19 - (9 - {{ $weight }} )) / 15); height: 2em; line-height: 2em; vertical-align: middle" >{{ .Term }} <span class="badge"></span></a></li>
          {{ end }}
        {{ end }}
      </ul>
    </section>
  </div>
{{ end }}
